
/* Watermark
BODY
{
  background-image: url(http://i.bnet.com/blogs/watermark.jpg);
  background-attachment: fixed;
  background-position: 100% 100%;
}
*/

.toplink
{
   padding-left:1rem;
   padding-right:1rem;
}

/* Adjusts location of table buttons */
div.dt-buttons
{
   float:right;
   top:6pt;
   text-align:right;
}

