
body .main-container
{
   max-width: 800px;
}

.toplink
{
   padding-left:1rem;
   padding-right:1rem;
}

/* Adjusts location of table buttons */
div.dt-buttons
{
   float:right;
   top:6pt;
   text-align:right;
}

.main-container
{
   min-width: 1200px;
   max-width: 1200px;
   width: 1200px;
}

/* A table of contents container element */
.col-md-3
{
   margin-left:-40px;
   width:224px
}

#TOC
{
   width:225px;
   max-width:225px;
}

.list-group-item:hover, .list-group-item:focus {
    background-color: #dddddd;
}

.list-group-item.active:hover {
    background-color: #444444;
}

.list-group-item.active
{
    color: #FFFFFF;
    background-color: #000000;
}

H4
{
  font-size: 16pt;
}
