
.toplink
{
   padding-left:1rem;
   padding-right:1rem;
}

/* Adjusts location of table buttons */
div.dt-buttons
{
   float:right;
   top:6pt;
   text-align:right;
}

#TOC li a
{
   color: #8B7993;
}

#TOC li
{
   display: inline;
}

#TOC li::after
{
   content: ' \00a0 ';
}
